* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image:url('https://www.freepik.com/photos/background');
    background-size: cover;
    height: auto;
    overflow: visible;
    background-repeat: no-repeat;
    display: block;
}