* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/assets/banking-page.jpg);
    background-size: cover;
    height: auto;
    overflow: visible;
    background-repeat: no-repeat;
    display: block;
}